<table class='table', style="color: #6f4d3e;">
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td style="vertical-align: middle;">
          <%= link_to user_path(user.id), class: "w-100" do %>
          <%= image_tag user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td style="vertical-align: middle;"><i class="fas fa-user-alt"></i>   <%= link_to user.name, user_path(user.id), class: "link" %></td>
        <td style="vertical-align: middle;">レビュー:<%= user.reviews.count %></td>
        <td style="vertical-align: middle;">フォロー:<%= user.followings.count %></td>
        <td style="vertical-align: middle;" id="user_count_mini_<%= user.id %>">
          <%= render 'user_count_mini', user: user %>
        </td>
        <td style="vertical-align: middle;" id="follow_buttons_mini_<%= user.id %>">
          <%= render 'follow_mini', user: user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>