<br>
    <br>
<div class="main-container">

</div>

<div class="text-center">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<h1>＼？ With dog とは ？／</h1>
<br>
<h4>
   「愛犬とのお出かけをより充実したものに。」<br>
    <br>
    そんな思いから作られた愛犬家のための<br>
    <br>
    お出かけレビューサイトです。<br>
    <br>
    <br>
    <br>
    <br>
    <h5>📍レビューに現在地からの距離が表示されるので<br>
    <br>
    次のお出かけ先もすぐに見つけることができます！</h5>
    <br>
    <br>
    <br>
    <br>
    <br>


  </h4>
</div>
<div class="top-2"></div>
<br>
<br>
<br>
<br>
<br>

<h4 class="text-center">今日は『公園』で遊ぶ？<br>
<br>
それとも、『カフェ』でのんびり？<br>
<br>
初めての『グランピング』に挑戦？<br>
<br>
目的に応じてカテゴリーから検索できます◎</h4>
<br>
<br>
<br>




</h4>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <br>
      <div class="form-wrapper">
    <%= form_with url: reviews_path, method: :get do |f| %>
      <%= f.label :review_facility_category, "カテゴリー" %>
        <%= f.collection_check_boxes :facility_category_ids, FacilityCategory.all, :id, :category_name, include_hidden: false do |b| %>
          <%= b.label { b.check_box + b.text } %><br>
        <% end %>
      <%= f.submit "検索" %>
    <% end %>
</div>
      <br>
      </div>


      <div class='col-md-7 offset-md-1'>
        <br>
        <br>
<br>
<h3 class="underlined-text">新着レビュー</h3>
<br>
  <br>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-4">
        <div class="card card-reviews">
          <% count=1 %>
          <% review.image.each do |image| %>
            <% if count==1 %>
              <%= image_tag image.variant(resize: '300x300') if review.image.attached? %>
            <% end %>
            <% count+=1 %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to review.facility_name, review_path(review) %>
            </h5>
            <div class="card-text">
              <%= truncate(review.text, :length => 18) %>
            </div>
            <div class="card-name">
              <%= review.user.name %>
            </div>
          </div>
          <div class="card-footer text-right">
            <% if user_signed_in? %>
              <div>
                <% if review.favorited_by?(current_user) %>
                  <%= link_to review_review_favorites_path(review), method: :delete do %>
                    ♥<%= review.review_favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to review_review_favorites_path(review), method: :post do %>
                    ♡<%= review.review_favorites.count %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <small class="text-black-50">
              コメント数:<%= review.review_comments.count %>
            </small>
          </div>
        </div>
        </div>
    <% end %>
    </div>
    </div>
    </div>
    </div>
    <div class="top-3"></div>
