
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
    <br>
    <br>
    <div class="row">
      <div class="col-3">
        <h4>レビュー一覧</h4>
      </div>
    </div>
    <br>
      <table class='table table-hover table-inverse'>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <% count=1 %>
                <% review.image.each do |image| %>
                  <% if count==1 %>
                    <%= image_tag image.variant(resize: '150x150') if review.image.attached? %>
                  <% end %>
                  <% count+=1 %>
                <% end %>
              </td>
              <td style="height: 60px; vertical-align: middle;"><%= review.facility_name %></td>
              <td style="height: 60px; vertical-align: middle;"><%= review.user.name %></td>
              <td style="height: 60px; vertical-align: middle;"><%= link_to "詳細", admin_review_path(review), class: "btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<div class="paginate">
  <%= paginate @reviews %>
</div>