<div class="container">
  <div class="row">

    <div class="col-md-8 offset-md-1">
      <h3>詳細情報</h3>
      <%= link_to "削除", admin_review_path, method: :delete, class: "btn btn-success w-20" %>


      <table class="table">
   <!-- <tr>
          <td style="width: 30%">投稿者</td>
          <td style="width: 70%"><%#= @review.user.name %></td>
        </tr> -->

        <tr>
          <td style="width: 30%">施設名</td>
          <td style="width: 70%"><%= @review.facility_name %></td>
        </tr>
        <tr>
          <td style="width: 30%">レビュー</td>
          <td style="width: 70%"><%= @review.text %></td>
        </tr>
        <tr>
          <td style="width: 30%">郵便番号</td>
          <td style="width: 70%"><%= @review.post_code %></td>
        </tr>
        <tr>
          <td style="width: 30%">住所</td>
          <td style="width: 70%"><%= @review.address %></td>
        </tr>
        <tr>
          <td style="width: 30%">写真</td>
          <td style="width: 70%">

          </td>
        </tr>
      </table>
      <div class="d-flex flex-wrap">
        <% @review.image.each do |image| %>
          <%= image_tag image.variant(resize: '240x240') if @review.image.attached? %>
        <% end %>
      </div>



      <div id="comments-area">
        <h6>コメント</h6>
        <% @review.review_comments.each do |review_comment| %>
          <p><%= image_tag review_comment.user.get_profile_image %></p>
          <%= link_to review_comment.user.name, users_my_page_path(review_comment.user) %>
          <%= review_comment.text %>
          <% if review_comment.user == current_user %>
            <%= link_to "削除", review_review_comment_path(@review, review_comment), method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
        <% end %>

       
      </div>
    </div>
  </div>
</div>
