<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <h4 class="underlined-text">レビュー詳細</h4>

      <div class='container px-5 px-sm-0'>
        <div class='row'>
          <div class='col-md-11'>
          <br>
            <div class="row">
              <div class="col-md-11 mb-4 d-flex flex-row-reverse">
                <%= link_to "削除", admin_review_path, method: :delete, class: "btn btn-danger edit-btn", "data-confirm" => "本当に削除しますか？"  %>
              </div>
            </div>

            <table class="table">
              <tbody>
                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">投稿者</td>
                  <td class="admin-user-name", style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;"><%= link_to @review.user.name, admin_user_path(@review.user) %></td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">施設名</td>
                  <td style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;"><%= @review.facility_name %></td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">レビュー</td>
                  <td style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;"><%= @review.text %></td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">評価</td>
                  <td style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;">
                    <div id="post_raty"></div>
                    <script>
                      let elem = document.querySelector('#post_raty');
                      let opt = {
                        //path: '/assets',
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        scoreName: 'review[rating]',
                        score: <%= j(@review.rating ? @review.rating : 0) %>,
                        readOnly: true
                       };
                      raty(elem,opt);
                    </script>
                  </td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">カテゴリー</td>
                  <td style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;"><%= @review.facility_categories.pluck(:category_name).join(",") %></td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">郵便番号</td>
                  <td style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;"><%= @review.post_code %></td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; vertical-align: middle; color: #6f4d3e;">住所</td>
                  <td style="height: 75px; width: 60%; vertical-align: middle; color: #6f4d3e;"><%= @review.address %></td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; color: #6f4d3e;">画像</td>
                  <td style="height: 75px; width: 60%">
                    <div class="d-flex flex-wrap">
                      <% if @review.image.attached? %>
                        <% @review.image.each do |image| %>
                          <%= image_tag image.variant(resize: '230x230') %>
                        <% end %>
                      <% end %>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td style="height: 75px; width: 40%; color: #6f4d3e;">コメント</td>
                  <td>
                    <table class="table">
                      <tbody>
                        <% @review.review_comments.each do |review_comment| %>
                        <tr>
                          <td style="color: #6f4d3e;">
                            投稿者:  <%= link_to review_comment.user.name, admin_user_path(review_comment.user), class: "comment" %><br>
                            <%= simple_format review_comment.text %>
                          </td>
                          <td width="80">
                            <%= link_to "削除", admin_review_review_comment_path(@review, review_comment), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？"  %>
                          </td>
                        <% end %>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>



