<div class="col-md-4 mb-4">
    <div class="card card-reviews">
    <% count=1 %>
      <% if review.image.attached? %>
        <% review.image.each do |image| %>
          <% if count==1 %>
            <%= link_to review_path(review.id), class: "w-100" do %>
              <%#= image_tag image.variant(resize: "300x200", gravity: "center", crop: "200x200+0+0" ).processed, class: "w-100" %>
              <%= image_tag image.variant(resize: "300x200", gravity: "center", crop: "200x200+0+0" ).processed, class: "w-100", style: "height: 220px;" %>


            <% end %>
          <% end %>
          <% count+=1 %>
        <% end %>
      <% else %>
        <%= image_tag asset_path("review_no_image.jpg"), class: "w-100" %>
      <% end %>

      <div class="card-body">
        <h5 class="card-title">
          ◆<%= link_to review.facility_name, review_path(review), 'data-turbolinks': false, class: "link" %>
        </h5>
        <div class="card-name text-right">
          <投稿者:<%= link_to_if user_signed_in?, review.user.name, users_my_page_path(review.user), class: "link" %>><br>
          <small class="muted-text"><%= l(review.created_at) %></small>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-end">
        <% if user_signed_in? %>
          <div>
            <div id="favorite_buttons_<%= review.id %>">
              <%= render 'public/reviews/favorite', review: review %>
            </div>
          </div>
        <% end %>
        <div class="offset-1">
          <%= link_to review_path(review, anchor: 'review_comment_index'), class: "link" do %>
            <i class="far fa-comment-alt"></i>:<%= review.review_comments.count %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="offset-1">
            <% if current_user&.bookmark?(review) %>
              <%= render 'public/bookmarks/unbookmark', review: review, list: true %>
            <% else %>
              <%= render 'public/bookmarks/bookmark', review: review, list: true %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>