<% reviews.each do |review| %>
  <div class="col-md-4 mb-4">
    <div class="card card-reviews">
    <% count=1 %>
      <% if review.image.attached? %>
        <% review.image.each do |image| %>
          <% if count==1 %>
            <%= link_to review_path(review.id), class: "w-100" do %>
              <%= image_tag image.variant(resize: "300x200", gravity: "center", crop: "200x200+0+0" ).processed, class: "w-100" %>
            <% end %>
          <% end %>
          <% count+=1 %>
        <% end %>
      <% else %>
        <%= image_tag asset_path("review_no_image.jpg"), class: "w-100" %>
      <% end %>

      <div class="card-body">
        <h5 class="card-title">
          ◆ <%= link_to review.facility_name, review_path(review), 'data-turbolinks': false %>
        </h5>
        <div class="card-name text-right">
          <投稿者:<%= link_to_if user_signed_in?, review.user.name, users_my_page_path(review.user) %>>
        </div>
      </div>
      <div class="card-footer text-right">
        <div class="text-black-50">
          <% if user_signed_in? %>
            <div id="favorite_buttons_<%= review.id %>">
              <%= render 'public/reviews/favorite', review: review %>
            </div>
          <% end %>
        </div>
        <small class="text-black-50">
          コメント数:<%= review.review_comments.count %>
        </small>
      </div>
    </div>
  </div>
<% end %>