<div class="form-wrapper">
  <%= form_with url: reviews_path, method: :get do |f| %>
    <h5><%= f.label :review_facility_category, "カテゴリー" %></h5>
    <%= f.collection_check_boxes :facility_category_ids, FacilityCategory.all, :id, :category_name, checked: true do |b| %>
      <%= b.label { b.check_box + b.text } %><br>
    <% end %>
    <div style="text-align: center;">
      <%= f.submit "検索", class: "btn edit-btn", style: "background-color: #ff7f50; color: #FFF;" %>
    </div>
  <% end %>
</div>

