<script type="text/javascript">
  const R = Math.PI / 180;

  function distance(lat1, lng1, lat2, lng2) {
    lat1 *= R;
    lng1 *= R;
    lat2 *= R;
    lng2 *= R;
    return 6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2));
  }

  function initMap() {
    var test = {lat: <%= @review.latitude %>, lng: <%= @review.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @review.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                });
    marker.addListener('click', function() {
       nfowindow.open(map, marker);
    });
  }

  const options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0,
  };
  const getCurrentPosition = (options) => {
    return new Promise( (resolve, reject) => {
      navigator.geolocation.getCurrentPosition (resolve, reject, options)
    })
  }
  const position = getCurrentPosition (options).then(value => {
    const target = document.getElementById('distance');
    target.innerText = `${Math.round(distance(value.coords.latitude, value.coords.longitude, <%= @review.latitude %>, <%= @review.longitude %>))}km`;
  }).catch(err => {
    alert('error');
  })
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<style type="text/css">
  #map { height: 200px;
        width: 100%;}
</style>
<div id="map"></div>