
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3 class="underlined-text">レビュー一覧</h3>
    </div>
    <div class="col-md-11 text-right">

      <%= link_to '新しい順', reviews_path(latest: "true") %> |
      <%= link_to '古い順', reviews_path(old: "true") %> |
      <%= link_to '評価の高い順', reviews_path(rating_count: "true") %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <br>
      <%= render 'category' %>
    </div>
    <div class='col-md-8 offset-md-1'>
    <br>
      <div class="row">
        <% @reviews.each do |review| %>
          <%= render 'card', review: review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
