
<br>
<br>
<div class="container">
   <div class="row">
    <div class="col-md-10">
      <h3>レビュー一覧</h3>
      </div>
      </div>
   <div class="row">
    <div class="col-md-2">

    <br>

  <div class="form-wrapper">
    <%= form_with url: reviews_path, method: :get do |f| %>
      <%= f.label :review_facility_category, "カテゴリー" %>
        <%= f.collection_check_boxes :facility_category_ids, FacilityCategory.all, :id, :category_name, include_hidden: false do |b| %>
          <%= b.label { b.check_box + b.text } %><br>
        <% end %>
      <%= f.submit "検索" %>
    <% end %>
</div>
</div>

  <div class='col-md-8 offset-md-1'>
  <br>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-4 mb-4">
        <div class="card card-reviews">
          <% count=1 %>
          <% review.image.each do |image| %>
            <% if count==1 %>
              <%= image_tag image.variant(resize_to_limit: [300, 300] ).processed if review.image.attached? %>
            <% end %>
            <% count+=1 %>
          <% end %>

          <%# if review.image.attached? %>
            <%#= image_tag review.image.first.variant(resize_to_limit: [300, 300] ).processed, style: "width: 100%; height: 150px; object-fit: cover;" %>
          <%# else %>
            <%#= image_tag 'logo.jpg', style: "width: 100%; height: 150px; object-fit: cover;" %>
          <%# end %>

          <div class="card-body">
            <h5 class="card-title">
              <%= link_to review.facility_name, review_path(review) %>
            </h5>
            <div class="card-text">
              <%= truncate(review.text, :length => 20) %>
            </div>
            <div class="card-name text-right">
              <投稿者:<%= link_to_if user_signed_in?, review.user.name, users_my_page_path(review.user) %>>
            </div>
          </div>
          <div class="card-footer text-right">
            <div class="text-black-50">
            <% if user_signed_in? %>
              <div>
                <% if review.favorited_by?(current_user) %>
                  いいね<%= link_to review_review_favorites_path(review), method: :delete do %>
                    ♥<%= review.review_favorites.count %>
                  <% end %>
                <% else %>
                  いいね<%= link_to review_review_favorites_path(review), method: :post do %>
                    ♡<%= review.review_favorites.count %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            </div>
            <small class="text-black-50">
              コメント数:<%= review.review_comments.count %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>