<div class="container">
   <div class="row">
    <div class="col-10 mx-auto">
      <br>
      <br>

  <%= form_with url: reviews_path, method: :get do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :review_facility_category, "カテゴリー" %>
          </div>
          <div class="col-md-6 mb-3">
            <div class="field">
              <%= f.collection_check_boxes :facility_category_ids, FacilityCategory.all, :id, :category_name, include_hidden: false %>

              <%#= f.text_field :review_facility_category, class: "form-control" %>
            </div>
          </div>
        </div>
        <%= f.submit "検索" %>
  <% end %>
  <h3>レビュー一覧</h3>

  <br>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-3">
        <div class="card">
          <% count=1 %>
          <% review.image.each do |image| %>
            <% if count==1 %>
              <%= image_tag image.variant(resize: '300x300') if review.image.attached? %>
            <% end %>
            <% count+=1 %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to review.facility_name, review_path(review) %>
            </h5>
            <div class="card-text">
              <%= truncate(review.text, :length => 20) %>
            </div>
            <div class="card-name">
              <%= link_to review.user.name, users_my_page_path(review.user) %>
            </div>
          </div>
          <div class="card-footer text-right">
            <% if user_signed_in? %>
              <div>
                <% if review.favorited_by?(current_user) %>
                  <%= link_to review_review_favorites_path(review), method: :delete do %>
                    ♥<%= review.review_favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to review_review_favorites_path(review), method: :post do %>
                    ♡<%= review.review_favorites.count %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <small class="text-black-50">
              コメント数:<%= review.review_comments.count %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>