<br>
<br>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

      <h4>投稿者</h4>
      <br>

      <%= render 'public/users/info', user: @user %>

    </div>

    <div class="col-md-7 offset-md-1">

      <div class="row">
          <div class="col-md-6">
      <h3>詳細情報</h3>
      </div>
      <div class="col-md-12 mb-4 d-flex flex-row-reverse">
      <%= link_to "編集", edit_review_path, class: "btn btn-success edit-btn" %>
      </div>
      </div>

      <table class="table" style="height: 300px;">
        <tr>
          <td style="width: 30%; vertical-align: middle;">施設名</td>
          <td style="width: 70%; vertical-align: middle;"><%= @review.facility_name %></td>
        </tr>
        <tr>
          <td style="width: 30%; vertical-align: middle;">レビュー</td>
          <td style="width: 70%; vertical-align: middle;"><%= @review.text %></td>
        </tr>
        <tr>
          <td style="width: 30%; vertical-align: middle;">評価</td>
          <td style="width: 70%; vertical-align: middle;">
            <div id="post_raty"></div>
              <script>
                let elem = document.querySelector('#post_raty');
                let opt = {
                  //path: '/assets',
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: 'review[rating]',
                  score: <%= j(@review.rating ? @review.rating : 0) %>,
                  readOnly: true
                 };
                raty(elem,opt);
              </script>
            </td>
        </tr>
        <tr>
          <td style="width: 30%; vertical-align: middle;">カテゴリー</td>
          <td style="width: 70%; vertical-align: middle;"><%= @review.facility_categories.pluck(:category_name).join(",") %></td>
        </tr>
        <tr>
          <td style="width: 30%; vertical-align: middle;">郵便番号</td>
          <td style="width: 70%; vertical-align: middle;"><%= @review.post_code %></td>
        </tr>
        <tr>
          <td style="width: 30%; vertical-align: middle;">住所</td>
          <td style="width: 70%; vertical-align: middle;"><%= @review.address %></td>
        </tr>
        <tr>
          <td style="width: 30%; vertical-align: middle;">写真</td>
          <td style="width: 70%">
          </td>
        </tr>
      </table>
      <div class="d-flex flex-wrap">
        <% @review.image.each do |image| %>
          <%= image_tag image.variant(resize: '300x300') if @review.image.attached? %>
        <% end %>
      </div>



      <div id="comments-area">
        <h6 style="height: 70px; line-height: 70px;">コメント</h6>
        <table class="table">
          <tbody>
          <% @review.review_comments.each do |review_comment| %>
        <tr>
          <td><%= image_tag review_comment.user.get_profile_image(100,100) %></td>
          <td><%= link_to review_comment.user.name, users_my_page_path(review_comment.user) %></td>
          <td><%= review_comment.text %></td>
          <td><% if review_comment.user == current_user %>
            <%= link_to "削除", review_review_comment_path(@review, review_comment), method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
          </td>
          </tr>
        <% end %>
        </tbody>
        </table>

      <div class="row">
        <div class="col-md-1"></div>
         <div class="col-md-6">
        <%= form_with model: [@review, @review_comment], url: review_review_comments_path(@review.id), method: :post do |f| %>
          <%= f.text_area :text, rows: '5', cols: 70 %>
          <%= f.submit "送信" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
