<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
    <br>
    <br>
    <div class="row">
      <div class="col-3">
        <h4 class="underlined-text">会員一覧</h4>
      </div>
    </div>
    <br>
      <table class="table">
        <thead class="thead-light-1" style="border-color: #6f4d3e;">
          <tr>
            <th style="height: 50px; color: #6f4d3e;">会員ID</th>
            <th style="height: 50px; color: #6f4d3e;">プロフィール画像</th>
            <th style="height: 50px; color: #6f4d3e;">名前</th>
            <th style="height: 50px; color: #6f4d3e;">メールアドレス</th>
            <th style="height: 50px; color: #6f4d3e;"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td style="height: 60px; vertical-align: middle; color: #6f4d3e;"><%= user.id %></td>
            <td style="height: 60px; vertical-align: middle; color: #6f4d3e;"><%= image_tag user.get_profile_image(100,100) %></td>
            <td style="height: 60px; vertical-align: middle; color: #6f4d3e;"><%= user.name %></td>
            <td style="height: 60px; vertical-align: middle; color: #6f4d3e;"><%= user.email %></td>
            <td style="height: 60px; vertical-align: middle;"><%= link_to "詳細", admin_user_path(user), class: "btn edit-btn", style: "background-color: #ff7f50; color: #FFF;" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>
<br>
<br>
<div class="paginate">
  <%= paginate @users %>
</div>