<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">

      <div class="row">
        <div class="col-3">
          <h3>ログイン</h3>
        </div>
      </div>
      <div class="col-md-10 mb-4 d-flex flex-row-reverse">
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm mb-3 sign_in", method: :post %>
      </div>

      <%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>

      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :email, "メールアドレス" %>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :password, "パスワード" %>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-6 mb-5">
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      </div>

    <% end %>

    <div class="row">
      <div class="col-md-8">
        <h6>＜管理者ログインは<%= link_to "こちら", new_admin_session_path %>から＞</h6>
      </div>
      <div class="col-md-4 mb-5">
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-info w-50" %>
        </div>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</div>
