<div class="card">
  <div class="card-body">
    <div class=" text-center">
      <% if user.present? %>
        <%= image_tag user.get_profile_image(200,200) %>
      <% end %>
      <br>
      <br>
	    <div><i class="fas fa-user-alt"></i>  <%= user.name %></div>
	    <div><i class="fas fa-paw"></i>  </div>
      <div><i class="fas fa-dog"></i>  </div>
	    <br>
      <%= user.introduction %>
      <br>
      <br>
      ＜ フ ォ ロー: <%= link_to user.followings.count, user_followings_path(user.id), class: "link" %> ＞
      <br>
      ＜ フォロワー: <%= link_to user.followers.count, user_followers_path(user.id), class: "link" %> ＞
      <br>
      <br>
      <% if current_user.present? %>
        <div id="follow_buttons_<%= user.id %>">
          <%= render 'public/relationships/follow', users: @users %>
        </div>

        <% unless user.guest_user? %>
          <% if user.id == current_user.id %>
            <%= link_to users_information_edit_path, class: "btn btn-outline user-btn text-center" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>