<div class="card">
  <div class="card-body">
    <div class=" text-center">
      <% if user.present? %>
        <%= image_tag user.get_profile_image(200,200) %>
      <% end %>
      <br>
      <br>
	    <div><i class="fas fa-user-alt"></i>  <%= user.name %></div>

      <% if user.dog_name.present? || user.dog_breed.present? || user.dog_age.present? %>
	    <div class="dog-information">
	      <div><i class="fas fa-paw"></i>  <%= user.dog_name %></div>
        <div><%= user.dog_breed %>/<%= user.dog_age %></div>
      </div>
      <% end %>
      <%= user.introduction %>
      <br>
      <br>
      <div id="user_count_<%= user.id %>">
        <%= render 'public/relationships/user_count', user: user %>
      </div>
      <br>
      <% if current_user.present? %>
        <div id="follow_buttons_<%= user.id %>">
          <%= render 'public/relationships/follow', users: @users %>
        </div>

        <% unless user.guest_user? %>
          <% if user.id == current_user.id %>
            <%= link_to users_information_edit_path, class: "btn btn-outline user-btn text-center" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>