<div class="card">
  <div class="card-body">
<table class="table table-borderless">
        <tr>
            <%= image_tag user.get_profile_image(220,220) %>
        </tr>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
	        <th style="width: 30%">名前</th>
	        <th style="width: 70%"><%= user.name %></th>
        </tr>
        </table>
        
	        <%= user.introduction %><br>
	        <br>
        

        フ ォ ロー: <%= user.followings.count %><br>
        フォロワー: <%= user.followers.count %>

        <% unless user == current_user %>
        <% if current_user.following?(user) %>
        <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: 'btn-sm btn-info btn-w-50 float-right' %>
        <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: 'btn-sm btn-success btn-w50 float-right' %>
        <% end %>
        <% end %>
        <br>
        <br>

      <% unless user.guest_user? %>
      <% if user.id == current_user.id %>
      <div class='text-center'>
        <%= link_to users_information_edit_path, class: "btn btn-outline-secondary user-btn float-center" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      <% end %>
      <% end %>
      </div>
      </div>